/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Colors */
  --primary: #1f2937;
  --secondary: #e5e7eb;
  --hero-text: #f9faf8;
  --button: #3882f6;
}

body {
  font-family: roboto;
}

/**** Shared Styles ****/

/* Primary Font Color */
#logo,
h1,
.title-container a,
.cta-info h2,
.cta-container a {
  color: var(--hero-text);
}

/* Secondary Font Color and Sizing */
.nav-link,
.title-container p,
#hero-fig figcaption,
.testimonial-fig figcaption,
.cta-info p {
  font-size: 1.2rem;
  color: var(--secondary);
}

/* Sizing: Width Heights */

body,
header,
.title-container,
#hero-fig,
#hero-img,
.main,
.section,
.container-testimonials,
.testimonial-fig,
.testimonial-fig img,
.testimonial-fig figcaption {
  width: 100%;
}

header nav,
#hero-img {
  height: 100%;
}

/* Display Flex */
header nav,
header nav ul,
.title-container,
.container-testimonials article,
.container-testimonials,
.testimonial-fig,
main section:last-child,
.cta-container {
  display: flex;
}

/* Background Color */
.title-container a,
.cta-container {
  background-color: var(--button);
  background-color: var(--button);
}

/**** Hero Section Styles ****/

header {
  background-color: var(--primary);
  padding: 1.5rem 10% 6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 3rem;
}

/* Remove Default Styling */
a,
li {
  text-decoration: none;
  list-style: none;
}

/* Top logo and navigation styling */
#logo {
  font-size: 2rem;
  font-weight: bold;
}

header nav {
  justify-content: end;
  align-items: end;
}

header nav ul {
  justify-content: end;
  gap: 2rem;
}

/* Styles Hero Text and Image */

.title-container {
  height: fit-content;
  flex-direction: column;
  row-gap: 1rem;
}

h1 {
  font-size: 3.5rem;
}

.title-container a {
  font-size: 1.1rem;
  width: fit-content;
  font-weight: bold;
  padding: 0.5rem 2.2rem;
  text-align: center;
  border-radius: 0.5rem;
}

#hero-fig {
  height: 40vh;
}

#hero-img {
  object-fit: cover;
}

/* I would like to add hover effect to hero image that would display figcaption */
#hero-fig figcaption {
  opacity: 0;
}

/**** Random Info Section Styles ****/

main section:first-child h2 {
  width: 100%;
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
  margin: 3rem 0;
}

.container-testimonials {
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 10rem;
}

.container-testimonials article {
  flex-direction: column;
  width: 12rem;
}

.testimonial-fig {
  flex-direction: column;
  margin-bottom: 0.5rem;
  position: relative;
}

.testimonial-fig img {
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem;
  border: 5px solid var(--button);
}

.testimonial-fig figcaption {
  font-size: 1.2rem;
  position: absolute;
  bottom: 10%;
  text-align: center;
  opacity: 0;
}

.testimonial-sub-text {
  color: #555;
  font-size: 1.2rem;
  text-align: center;
}

/**** Quote Section ****/
main section:nth-child(2) {
  background-color: #e5e7eb;
  padding: 5rem 20rem;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  color: var(--primary);
  text-align: justify;
  font-style: italic;
}

blockquote footer {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: end;
  font-style: normal;
}

/**** Call to Action Section ****/

main section:last-child {
  justify-content: center;
  padding: 6% 0;
}

.cta-container {
  width: 70%;
  padding: 5rem;
  border-radius: 1rem;
  justify-content: space-between;
}

.cta-info h2 {
  font-size: 1.5rem;
}

.cta-container a {
  font-size: 1.4rem;
  height: fit-content;
  border: 2px solid var(--hero-text);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
